{% extends 'base-form.html' %}

{% block head %}
<title>Shifty Scheduler</title>
{% endblock %}

{% block form %}
<div class="col-lg-6 align-items-center my-auto g-2">
    <div class="display-2">{{ user.first_name }} {{ user.last_name }}</div>
    <div class="display-6 lead">{{ user.username }}</div>
</div>
<form class="col-lg-6 justify-content-center g-2" method="post">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ user_form|crispy }}
    <button type="submit" class="my-2 btn btn-success">Save User</button>
</form>
{% endblock %}
