{% extends 'base.html' %}

{% block head %}
<title>Shifty Scheduler</title>
{% endblock %}

{% block body %}
<div class="container-fluid justify-content-center p-2">
    <div class="row text-center m-1 b-1 shadow p-2 mb-5 bg-white rounded border">
        <h3 class="display-3 text-center">All Shifts</h3>
        {% for event in events %}
        <div class="col-lg-4 fs-3">{{ event.title }}</div>
        <div class="col-lg-4 fs-3">{{ event.start_time }} - {{ event.end_time }}</div>
        <div class="col-lg-4">
            <a class="btn btn-primary mx-1" href="{% url 'update_event' event.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'delete_event' event.id %}">Delete</a>
        </div>
        {% empty %}
        <h3 class="display-6 text-center">Either there are no events planned, or you're not logged in.</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}
